.full-width {
    grid-column: fullw-start / fullw-end;
    
}


.columns {
    grid-column: content;
    display: grid;
    grid-template-columns: subgrid;
    gap: 1.5rem;
    padding-block: 0.5rem;
}

.no-columns {
    grid-column: content;
    display: block;
    
}