@font-face {
    font-family: merriweather;
    src: url(/fonts/Merriweather-VariableFont_opsz\,wdth\,wght.ttf);
}
@font-face {
    font-family: mulish;
    src: url(/fonts/Mulish-VariableFont_wght.ttf);
}